doctype html
html
    head
        meta(charset='UTF-8')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
        script(src='/js/EmployeeScript.js')
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        link(rel="stylesheet" href="/css/ManagerView.css")
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    body
        include html/ManagerNav.html
        each row in info
        h1 Welcome, Manager #{row.FirstName} #{row.LastName}
        h5 ID: #{row.LeaderId} | #{row.Email}
        br
        h3
            div.row
                    div.column Vacation
                    div Days Left/Total: #{row.PtoBalanceVacation}
                        div.chart
                            canvas(id="chart3" width="10px" height="10px")
                                script.
                                    var red = "#{red}", green = "#{green}", blue = "#{blue}";
                                    var ctx = document.getElementById("chart3").getContext('2d');
                                    var chart = new Chart(ctx, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["red", "green", "blue"],
                                            datasets: [{
                                                label: 'Number of votes',
                                                data: [#{row.PtoBalanceVacation}, 1, 1],
                                                backgroundColor: ["red", "green", "blue"],
                                                borderColor: ["green", "blue", "red"],
                                                borderWidth: 1
                                            }],
                                        },
                                        options: {
                                            title: {
                                                display: true,
                                                text: "chart",
                                            },
                                            legend: {
                                                position: 'bottom'
                                            },
                                        }
                                    });

                div.column Total:
                    div Total left: #{totalDays}
                        div.chart
                            canvas(id="chart4" width="10px" height="10px")
                                script.
                                    var red = "#{red}", green = "#{green}", blue = "#{blue}";
                                    var ctx = document.getElementById("chart4").getContext('2d');
                                    var chart = new Chart(ctx, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["red", "green", "blue"],
                                            datasets: [{
                                                label: 'Number of votes',
                                                data: [#{totalDays}, 1, 1],
                                                backgroundColor: ["red", "green", "blue"],
                                                borderColor: ["green", "blue", "red"],
                                                borderWidth: 1
                                            }],
                                        },
                                        options: {
                                            title: {
                                                display: true,
                                                text: "chart",
                                            },
                                            legend: {
                                                position: 'bottom'
                                            },
                                        }
                                    });

                div.column Vacation
                    div Days Left: 6/20
                div.column Total
                    div Days Left: 6/12
